.container {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 2;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 3;
}

.row {
  display: flex;
  gap: 10px;
}

.big, .small {
  background-color: #2d3e50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big {
  width: 100%;
  height: 100%;
}

.small {
  flex: 1;
  height: 80px;
}
